

ul {
    position: fixed;
    top: 0;
    left: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(102, 103, 105);
    width: 100%;
    box-shadow: 0 5px 5px 0px rgb(58, 59, 61);
    z-index: 10;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 24px 26px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover
  {
    transition: 0.7s;
    background-color: rgb(77, 77, 79);
  }

  .active
  {
    background-color: rgb(58, 58, 60);
  }

  /* this was taken from https://www.w3schools.com/css/css_navbar.asp because
    I had no clue where to start for this. I made some modifications because I didn't
    completely like the style. <3 */