html * {
    margin: 0;
    padding: 0;
}

.bigYellowText{
    font-family:beastly, sans-serif;
    font-size: 14vw; 
    color: rgb(243,200,108);
    padding-left: 0.85vw;
}

.body{
    font-family: basic-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:1vw;
}

.bodyBold {
    font-family: basic-sans, sans-serif;
    font-weight: 700;
    font-style: normal;
}

.bodyBoldItalic {
    font-family: basic-sans, sans-serif;
    font-weight: 700;
    font-style: italic;
}

.subtitle {
    font-size: 2.8vw;
    padding-left: 3%;  
}